<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Startseite
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Startseite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="transparent">
    <ion-button expand="block" (click)="startNewRun()">Neue Schnitzeljagd</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Top Durchläufe</ion-card-title>
    </ion-card-header>
    <ion-list >
      @for (hunt of topHunts; track hunt.id){
      <ion-item>
        <ion-label>
         {{ hunt.playerName }} /
         {{hunt.date | date: 'dd.MM.yyyy'}} /
         {{hunt.points}} Punkte
      </ion-label>
      </ion-item>
    }
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Letzte Durchläufe</ion-card-title>
    </ion-card-header>
    <ion-list >
      @for (hunt of recentHunts; track hunt.id){
        <ion-item>
          <ion-label>
            {{ hunt.playerName }} /
            {{hunt.date | date: 'dd.MM.yyyy'}} /
            {{hunt.points}} Punkte
          </ion-label>
        </ion-item>
      }
    </ion-list>
  </ion-card>

</ion-content>
