<ion-tab-bar>
  <ion-tab-button tab="exit" (click)="openActionSheet()">
    <ion-icon class="exit" aria-hidden="true" name="exit-outline"></ion-icon>
  </ion-tab-button>

  @if (taskDone) {
    <ion-tab-button (click)="onNextTaskClick()" tab="next">
      <ion-icon class="next" aria-hidden="true" name="chevron-forward-outline"></ion-icon>
    </ion-tab-button>
  } @else {
    <ion-tab-button (click)="onSkipTaskClick()" tab="skip">
      <ion-icon class="skip" aria-hidden="true" name="play-skip-forward-outline"></ion-icon>
    </ion-tab-button>
  }
</ion-tab-bar>
<ion-action-sheet header="Möchtest du die Schnitzeljagd wirklich verlassen ?" [buttons]="actionSheetButtons" (didDismiss)="handleResult($event)" [isOpen]="isActionSheetOpen"></ion-action-sheet>
