<ion-content class="content" [fullscreen]="true">
  <app-objective-title
    title="QR Codes"
    description="Scanne einen QR-Code mit der Kamera deines Handys. Nach dem erfolgreichen Scan wird die nächste Aufgabe freigeschaltet! "
  ></app-objective-title>

  @if (isTaskDone) {
  <app-objective-state
    objectiveState="Erfolgreich Gescannt! Beginne mit der nächsten Aufgabe"
  ></app-objective-state>
  } @else {
  <app-objective-state
    objectiveState="Noch nicht gescannt."
  ></app-objective-state>
  }

  <ion-card color="transparent">
    <ion-button id="openScanner">Kamera öffnen</ion-button>
  </ion-card>

  <ion-modal #scannerModal trigger="openScanner">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Qr Code Scanner</ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="scannerModal.dismiss()">Abbrechen</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <zxing-scanner
          [formats]="formatsEnabled"
          (scanSuccess)="onCodeResult($event)"
        >
        </zxing-scanner>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer>
  <app-progressbar
    [doneObjectives]="objectiveNumber"
    totalObjectives="6"
  ></app-progressbar>
  <app-toolbar
    (nextTask)="nextTask()"
    (skipTask)="skipTask()"
    (exit)="exitHunt()"
    [taskDone]="isTaskDone"
  ></app-toolbar>
</ion-footer>
