<ion-content class="content" [fullscreen]="true">
  <app-objective-title title="WLAN" description="Verbinde dich mit dem WLAN „ICT-BLJ“. Sobald du erfolgreich verbunden bist, geht es weiter zur nächsten Aufgabe!" ></app-objective-title>
  <app-objective-state objectiveState="Noch nicht Verbunden."></app-objective-state>
</ion-content>
<ion-footer>
  <app-progressbar [doneObjectives]="objectiveNumber" totalObjectives="6"></app-progressbar>
  <app-toolbar (nextTask)="nextTask()" (skipTask)="skipTask()" [taskDone]="isTaskDone"></app-toolbar>
</ion-footer>
