<ion-content class="content" [fullscreen]="true">
  <app-objective-title title="Lade dein Handy" description="Finde eine Ladestation und verbinde dein Handy mit dem Stromnetz, um den Akku aufzuladen und die Aufgabe zu bestehen." ></app-objective-title>
  <app-objective-state objectiveState="Noch nicht eingesteckt."></app-objective-state>
</ion-content>
<ion-footer>
  <app-progressbar [doneObjectives]="objectiveNumber" totalObjectives="6"></app-progressbar>
  <app-toolbar (nextTask)="nextTask()" (skipTask)="skipTask()" [taskDone]="isTaskDone"></app-toolbar>
</ion-footer>
